# Object file
*.o

# Ada Library Information
*.ali
*.suo
*.txt
*.dll
*.pdb
*.cache

project.assets.json
Tg_Bot.csproj.nuget.g.props
Tg_Bot.csproj.nuget.g.targets
.dtbcache.v2

#Uninteresting folders :)
/bin
/obj
/.vs

#Compilation files
Tg_Bot/bin/Debug/net5.0/Tg_Bot.deps.json
Tg_Bot/bin/Debug/net5.0/Tg_Bot.exe
Tg_Bot/bin/Debug/net5.0/Tg_Bot.runtimeconfig.dev.json
Tg_Bot/bin/Debug/net5.0/Tg_Bot.runtimeconfig.json
Tg_Bot/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Tg_Bot/obj/Debug/net5.0/apphost.exe
Tg_Bot/obj/Debug/net5.0/Tg_Bot.AssemblyInfo.cs
Tg_Bot/obj/Debug/net5.0/Tg_Bot.csproj.CopyComplete
Tg_Bot/obj/Debug/net5.0/Tg_Bot.GeneratedMSBuildEditorConfig.editorconfig
Tg_Bot/obj/Tg_Bot.csproj.nuget.dgspec.json
Tg_Bot/bin/Release/net5.0/Tg_Bot.deps.json
Tg_Bot/bin/Release/net5.0/Tg_Bot.exe
Tg_Bot/bin/Release/net5.0/Tg_Bot.runtimeconfig.dev.json
Tg_Bot/bin/Release/net5.0/Tg_Bot.runtimeconfig.json
Tg_Bot/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Tg_Bot/obj/Release/net5.0/apphost.exe
Tg_Bot/obj/Release/net5.0/Tg_Bot.AssemblyInfo.cs
Tg_Bot/obj/Release/net5.0/Tg_Bot.csproj.CopyComplete
Tg_Bot/obj/Release/net5.0/Tg_Bot.GeneratedMSBuildEditorConfig.editorconfig
Tg_Bot/obj/Debug/net5.0/Tg_Bot.assets.cache
publish.zip
publish.zip
publish/runtimes/alpine-x64/native/libe_sqlite3.so
publish/runtimes/linux-arm/native/libe_sqlite3.so
publish/runtimes/linux-arm64/native/libe_sqlite3.so
publish/runtimes/linux-armel/native/libe_sqlite3.so
publish/runtimes/linux-mips64/native/libe_sqlite3.so
publish/runtimes/linux-musl-x64/native/libe_sqlite3.so
publish/runtimes/linux-x64/native/libe_sqlite3.so
publish/runtimes/linux-x86/native/libe_sqlite3.so
publish/runtimes/osx-x64/native/libe_sqlite3.dylib
publish/ServiceFiles/db.db
publish/Tg_Bot.deps.json
Tg_Bot/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
Tg_Bot/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
Tg_Bot/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
Tg_Bot/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
Tg_Bot/bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
Tg_Bot/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
Tg_Bot/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
Tg_Bot/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
Tg_Bot/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
Tg_Bot/bin/Debug/net5.0/ServiceFiles/db.db
Tg_Bot/bin/Release/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
Tg_Bot/bin/Release/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
Tg_Bot/bin/Release/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
Tg_Bot/bin/Release/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
Tg_Bot/bin/Release/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
Tg_Bot/bin/Release/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
Tg_Bot/bin/Release/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
Tg_Bot/bin/Release/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
Tg_Bot/bin/Release/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
Tg_Bot/bin/Release/net5.0/ServiceFiles/db.db
