# Object file
*.o

# Ada Library Information
*.ali
*.suo
*.txt
*.dll
*.pdb
*.cache

project.assets.json
Tg_Bot.csproj.nuget.g.props
Tg_Bot.csproj.nuget.g.targets
.dtbcache.v2

#Uninteresting folders :)
/bin
/obj
/.vs

#Compilation files
Tg_Bot/bin/Debug/net5.0/Tg_Bot.deps.json
Tg_Bot/bin/Debug/net5.0/Tg_Bot.exe
Tg_Bot/bin/Debug/net5.0/Tg_Bot.runtimeconfig.dev.json
Tg_Bot/bin/Debug/net5.0/Tg_Bot.runtimeconfig.json
Tg_Bot/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Tg_Bot/obj/Debug/net5.0/apphost.exe
Tg_Bot/obj/Debug/net5.0/Tg_Bot.AssemblyInfo.cs
Tg_Bot/obj/Debug/net5.0/Tg_Bot.csproj.CopyComplete
Tg_Bot/obj/Debug/net5.0/Tg_Bot.GeneratedMSBuildEditorConfig.editorconfig
Tg_Bot/obj/Tg_Bot.csproj.nuget.dgspec.json
Tg_Bot/bin/Release/net5.0/Tg_Bot.deps.json
Tg_Bot/bin/Release/net5.0/Tg_Bot.exe
Tg_Bot/bin/Release/net5.0/Tg_Bot.runtimeconfig.dev.json
Tg_Bot/bin/Release/net5.0/Tg_Bot.runtimeconfig.json
Tg_Bot/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Tg_Bot/obj/Release/net5.0/apphost.exe
Tg_Bot/obj/Release/net5.0/Tg_Bot.AssemblyInfo.cs
Tg_Bot/obj/Release/net5.0/Tg_Bot.csproj.CopyComplete
Tg_Bot/obj/Release/net5.0/Tg_Bot.GeneratedMSBuildEditorConfig.editorconfig
Tg_Bot/obj/Debug/net5.0/Tg_Bot.assets.cache
publish.zip
